<app-header></app-header>
<div class="container" style="margin: 0 auto;max-width: 50%;">
  <p style=" font-size: 15px;text-align: center;margin-top: 40px;">သဘောတူညီချက် <p>
    <ul style="text-align:auto;margin-top: 40px;">
      <li><h5 style="margin-bottom: 20px;" >အထက်တွင် ထည့်သွင်းထားသော အချက်အလက်များကို မှန်ကန်စွာ ဖြည့်စွက်ထားပါသည်။</h5></li>
      <li><h5 style="margin-bottom: 20px;">ပေးသွင်းသည့် ငွေများကို ပြန်လည်ထုတ်ယူ၍ မရပါကြောင်း သိရှိပါသည်။</h5></li>
      <li><h5 style="margin-bottom: 20px;">လိုင်စင်ကြေးအတွက် online payment ဝန်ဆောင်ခအဖြစ် ငွေ (၃ဝဝ) ကျပ်ကို လူကြီးမင်း၏အကောင့်မှ ပေးသွင်းရမည်ကို သိရှိပါသည်။</h5></li>
    </ul>
    <div style="text-align: center;">
    <button style="margin-top: 80px;width: 80px;" class="btn btn-primary" (click)="generate()">Continue</button>
    <button style="margin-left:30px;margin-top: 80px;width: 80px;" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div> 

</div>
 
