<div class="container" style="margin: 0 auto;">
    <div class="row" style="margin: 0 auto;background-color: #fff!important;">

        <div class="col-3 col-md-3 col-sm-3 col-xs-3" style="margin: 0 auto;">
            <img src="assets/img/cbBankLogo.png" width="63%" height="15%">
        </div>
        <div class="col-6 col-md-6 col-sm-6 col-xs-6" style="margin: 0 auto;padding-top:15px;">
            <span style="font-size: clamp( 2rem, 1vw, 1vh) ;font-family:poppins;color:blue;">MINISTRY OF COMMERCE
            </span>
            <br>
            <span style="font-family:poppins;color:blue;font-size: 1.3em"> DEPARTMENT OF INTELLECTUAL PROPERTY
            </span>
        </div>
        <div class="col-3 col-md-3 col-sm-3 col-xs-3" style="margin: 0 auto;">
            <img src="assets/img/commerce.PNG">
        </div>
    </div>
</div>
<div class="border1"
    style="padding: 1% 0% 1% 14%;background-color: rgb(80, 124, 206);">
    <span style="font-weight: 200px;font-family:poppins;font-size: 17px;color: white;">To check &
        Pay</span>
</div>