
<div class="container" style="margin: 0 auto;max-width: 50%;">
    <div class="row" style="margin: 0 auto;background-color: #5232df!important;">
        
        <div class ="col-3 col-md-3 col-sm-3 col-xs-3" style="margin: 0 auto;">
            <img src="./assets/img/commerce.PNG">
        </div>
        <div class="col-6 col-md-6 col-sm-6 col-xs-6" style="margin: 0 auto;padding-top:15px;">                                    
            <span style="font-size: clamp( 2rem, 1vw, 1vh) ;font-family:sans-serif;color:lavender;">DEPARTMENT OF INTELLECTUAL PROPERTY</span>
            <br>
            <span style="font-family:sans-serif;color:lavender;font-size: 15px;"> MINISTRY OF COMMERCE </span>
        </div>
        <!-- <div class="col-3 col-sm-3 col-xs-3" style="margin: 0 auto;">
            <img src="assest/img/cbBank.png">
        </div> -->
        <!-- <div class="col-3 col-md-3 col-sm-3 col-xs-3" style="margin: 0 auto;">
            <img src="assets/img/cbbank.png" style="width:105px;height:105px;">
        </div> -->
    </div>
    <div class="border1" style="padding-top:20px;padding-bottom:20px;text-align: center;">
        <span style="text-align: center;font-weight: 200px;font-family:sans-serif;font-size: 17px;">Welcome To Learning Page</span>
    </div>
</div>
 
 
