<app-header></app-header>

<div class="container" style="margin: 0 auto;max-width: 50%;text-align: center;">
<img src="https://ipdpayment.cbbank.com.mm/wipo/assets/img/success.PNG" width="195" height="195" >

<h4> Thank You! </h4>
<h4> Your Payment is successfully done. </h4>
<br>
    <div class="grid-container1" style="padding-top:15px;padding-bottom:15px;">
        
        <div class="grid-container2">
            
            <div class="grid-item">Transaction ID</div>
            <div class="grid-item">{{response.transactionId}}</div>

            <div class="grid-item">E-filing Reference Number</div>
            <div class="grid-item">{{response.requestorId}}</div>

            <div class="grid-item">User Name</div>
            <div class="grid-item">{{response.payerName}}</div>

            <div class="grid-item">Phone number</div>
            <div class="grid-item">{{response.payerPhone}}</div>

            <div class="grid-item">Email</div>
            <div class="grid-item">{{response.payerEmail}}</div>

            <div class="grid-item">Fee</div>
            <div class="grid-item"><span style="font-weight:bold;">{{response.totalAmount | currency:"MMK"}}</span></div>
            
        </div>
    </div>
</div>

