<form #form action='url' method='post'>
    <div style="display: none;">
        <input type="text" id="merchantID" name="merchantID" value="{{merchantID}}"><br>
        <input type="text" id="respCode" name="respCode" value="{{respCode}}"><br>
        <input type="text" id="pan" name="pan" value="{{pan}}"><br>
        <input type="text" id="invoiceNo" name="invoiceNo" value="{{invoiceNo}}"><br>
        <input type="text" id="tranRef" name="tranRef" value="{{tranRef}}"><br>
        <input type="text" id="dateTime" name="dateTime" value="{{dateTime}}"><br>
        <input type="text" id="status" name="status" value="{{status}}"><br>
        <input type="text" id="userDefined1" name="userDefined1" value="{{userDefined1}}"><br>
        <input type="text" id="userDefined2" name="userDefined2" value="{{userDefined2}}"><br>
        <input type="text" id="userDefined3" name="userDefined3" value="{{userDefined3}}"><br>
        <input type="text" id="categoryCode" name="categoryCode" value="{{categoryCode}}"><br>
        <input type="text" id="hashValue" name="hashValue" value="{{hashValue}}"><br>
        <input type="text" id="amount" name="amount" value="{{amount}}"><br>

    </div>
</form>