
<form method="POST">
    <input type="text" id="lname" name="merchantID" value="{{merchantID}}"><br>
    <input type="text" id="lname" name="respCode" value="{{respCode}}"><br>
    <input type="text" id="lname" name="pan" value="{{pan}}"><br>
    <input type="text" id="lname" name="amount" value="{{amount}}"><br>
    <input type="text" id="lname" name="invoiceNo" value="{{invoiceNo}}"><br>
    <input type="text" id="lname" name="tranRef" value="{{tranRef}}"><br>
    <input type="text" id="lname" name="approvalCode" value="{{approvalCode}}"><br>
    <input type="text" id="lname" name="dateTime" value="{{dateTime}}"><br>
    <input type="text" id="lname" name="status" value="{{status}}"><br>
    <input type="text" id="lname" name="failReason" value="{{failReason}}"><br>

    <input type="text" id="lname" name="userDefined1" value="{{userDefined1}}"><br>
    <input type="text" id="lname" name="userDefined2" value="{{userDefined2}}"><br>
    <input type="text" id="lname" name="userDefined3" value="{{userDefined3}}"><br>

    <input type="text" id="lname" name="hashValue" value="{{hashValue}}"><br>    
  </form>

