<app-header></app-header>
<div class="container">
  <div class="col-md-12">
    <div style="text-align: center;" *ngIf="transStatus == 'P' ">
        <h2>Your Payment is Pending.</h2><!--style="margin-left: 550px;"-->
        <h4 (click)="reload()">Click here to reload!</h4><!--style="margin-top: 30px;margin-left: 620px;"-->
        <div class="form-group"  style="margin-left: 40px; margin-top: 50px;">
          <button style="margin-left: 20px;width: 70px;" type="button" class="btn btn-primary" (click)="cancel();">Cancel</button>
        </div> 
    </div>
    <div *ngIf="transStatus == 'S' ">
      <app-success-page></app-success-page>
    </div>
    <div *ngIf="transStatus == 'E' ">
      <h2>Your Payment has been expired.</h2><!--style="margin-left: 550px;"-->
      <h4 (click)="nextOne()">Please Click here!</h4><!--style="margin-top: 30px;margin-left: 670px;"-->
    </div>
    <div *ngIf="showLoadingIndicator == true" class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>