<!--<app-menu *ngIf="showmenu"></app-menu>-->
<router-outlet></router-outlet>
<!-- <div class="container container1">
  <router-outlet></router-outlet>
</div>

<div id="rootpopup" tabindex="-1"  class="modal fade" role="dialog">
  <div id="rootpopupsize" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 id="rootpopuptitle" class="modal-title"></h6>
      </div>
      <div id="rootpopupbody" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
