<app-header></app-header>

<div class="container" style="margin: 0 auto;max-width: 50%;">
    <div id="divbox">
        <!-- <div class="grid-container2">
            <div class="grid-item" style="align-content: left;"><span align="left">Payee</span></div>
            <div class="grid-item">Department of Intellectual Property (DIPM)<br>Ministry of Commerce</div>
          </div> -->

        <form style="padding: 0% 15% 0% 15%;">

            <img src="assets/img/cbBankLogo.png" width="20%" height="10%">

            <a (click)="choosePayment()"
                style="padding:0% 0% 0% 33%;font-family:poppins;font-size: 1.3em;font-weight: 700;">Select
                payment Type</a>


            <div *ngIf="choose" class="row" style="padding: 5% 0% 5% 0%;">

                <div class="col-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://ipdpayment.cbbank.com.mm/wipo/assets/img/visa.png"
                        style="width:100px;height:80px;border-radius: 10px" (click)="visa()" class="hover-shadow cursor">
                </div>
                <div class="col-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://ipdpayment.cbbank.com.mm/wipo/assets/img/master_logo.png"
                        style="width:100px;height:80px;border-radius: 10px" (click)="visa()" class="hover-shadow cursor">
                </div>
                <div class="col-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://ipdpayment.cbbank.com.mm/wipo/assets/img/mpu.jpg"
                        style="width:100px;height:80px;border-radius: 10px" (click)="payment()" class="hover-shadow cursor">
                </div>
                <div class="col-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="https://ipdpayment.cbbank.com.mm/wipo/assets/img/cbpay.jpg"
                        style="width:100px;height:80px;border-radius: 10px" (click)="cbPay()" class="hover-shadow cursor">
                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-6 col-form-label"
                    style="padding: 3%;font-family: poppins;font-size: 1.3em;">E-filing Reference Number</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" value="{{userObj.requestorId}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-6 col-form-label"
                    style="padding: 3%;font-family: poppins;font-size: 1.3em;">Payment Reference Number</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                        value="{{userObj.paymentReference}}">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-6 col-form-label" style="padding: 3%;font-family: poppins;font-size: 1.3em;">User
                    Name</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                        value="{{userObj.payerName}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-6 col-form-label" style="padding: 3%;font-family: poppins;font-size: 1.3em;">Phone
                    number</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                        value="{{userObj.payerPhone}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-6 col-form-label"
                    style="padding: 3%;font-family: poppins;font-size: 1.3em;">Email</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                        value="{{userObj.payerEmail}}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-6 col-form-label"
                    style="padding: 3%;font-family: poppins;font-size: 1.3em;">Fees</label>
                <div class="col-sm-6">
                    <input type="text" readonly class="form-control-plaintext"
                        value="{{userObj.totalAmount | currency:'MMK'}}">
                </div>
            </div>
        </form>
    </div>
</div>