<app-header></app-header>
<form #form action='https://www.mpuecomuat.com:60145/UAT/Payment/Payment/Pay' method='post'>
    <div class="container" style="margin: 0 auto;max-width: 50%;">

        <p style=" font-size: 15px;text-align: center;margin-top: 70px;">သဘောတူညီချက်
        <p>
        <ul style="margin-top: 40px;">
            <li>
                <h4 style="margin-bottom: 20px;">အထက်တွင် ထည့်သွင်းထားသော အချက်အလက်များကို မှန်ကန်စွာ ဖြည့်စွက်ထားပါသည်။
                </h4>
            </li>
            <li>
                <h4 style="margin-bottom: 20px;">ပေးသွင်းသည့် ငွေများကို ပြန်လည်ထုတ်ယူ၍ မရပါကြောင်း သိရှိပါသည်။</h4>
            </li>
            <li>
                <h4 style="margin-bottom: 20px;">လိုင်စင်ကြေးအတွက် online payment ဝန်ဆောင်ခအဖြစ် ငွေ
                    ({{serviceCharges}})
                    ကျပ်ကို လူကြီးမင်း၏အကောင့်မှ ပေးသွင်းရမည်ကို သိရှိပါသည်။</h4>
            </li>
        </ul>
    </div>


    <div style="display: none;">
        <input type="text" id="amount" name="amount" value="{{payment.amount}}"><br>
        <input type="text" id="currencyCode" name="currencyCode" value="{{payment.currencyCode}}"><br>
        <input type="text" id="invoiceNo" name="invoiceNo" value="{{payment.invoiceNo}}"><br>
        <input type="text" id="merchantId" name="merchantId" value="{{payment.merchantId}}"><br>
        <input type="text" id="productDesc" name="productDesc" value="{{payment.productDesc}}"><br>
        <input type="text" id="userDefined1" name="userDefined1" value="{{payment.userDefined1}}"><br>
        <input type="text" id="userDefined2" name="userDefined2" value="{{payment.userDefined2}}"><br>
        <input type="text" id="userDefined3" name="userDefined3" value="{{payment.userDefined3}}"><br>
        <input type="text" id="hashValue" name="hashValue" value="{{payment.hashValue}}"><br>


    </div>
    <div style="text-align: center;">
        <button style="margin-top: 80px;width: 80px;" class="btn btn-primary" (click)="form.submit()">Continue</button>
        <button style="margin-left:30px;margin-top: 80px;width: 80px;" class="btn btn-primary"
            (click)="cancel()">Cancel</button>
    </div>

</form>