
<app-header></app-header>
<div class="container" style="margin: 0 auto;max-width: 50%;">
    <p style=" font-size: 15px;text-align: center;margin-top: 70px;">သေဘာတူညီခ်က္ <p>
      <ul style="text-align:auto;margin-top: 40px;">
        <li><h5 style="margin-bottom: 20px;" >အထက္တြင္ ထည္႕သြင္းထားေသာ အခ်က္အလက္မ်ားကို မွန္ကန္စြာ ျဖည္႕စြက္ထားပါသည္။</h5></li>
        <li><h5 style="margin-bottom: 20px;">ေပးသြင္းသည့္ ေငြမ်ားကို ျပန္လည္ထုတ္ယူ၍ မရပါေျကာင္း သိရွိပါသည္။</h5></li>
        <li><h5 style="margin-bottom: 20px;">လိုင္စင္ေျကးအတြက္ online payment ဝန္ေဆာင္ခအျဖစ္ ေငြ (၃၀ဝ) က်ပ္ကို လူျကီးမင္း၏အေကာင့္မွ ေပးသြင္းရမည္ကို သိရွိပါသည္။</h5></li>
      </ul>
      <div style="text-align: center;">
      <button style="margin-top: 80px;width: 80px;" class="btn btn-primary" (click)="submitForm()">Continue</button>
      <button style="margin-left:30px;margin-top: 80px;width: 80px;" class="btn btn-primary" (click)="cancel()">Cancel</button>
      </div> 
  
</div>


<!-- 

<div class="container">
  <img src="assets/img/mpu.jpg" style="margin-left: 350px;" width="200" height="180">

  <form style="margin-left: 300px;" (ngSubmit)="submitForm()">
    <div class="input-group" style="margin-bottom: 30px;">
      <span class="input-group-addon">Invoice No :</span>
      <input style="width: 200px;" id="email" type="text" class="form-control" name="ino" [(ngModel)]="payment.invoiceNo">
    </div>
    
    <div class="form-group"  style="margin-left: 70px;">
          <button type="submit" class="btn btn-primary" style="width: 70px;">Save</button>
          <button style="margin-left: 20px;width: 70px;" type="button" class="btn btn-primary" (click)="cancel();">Cancel</button>
    </div>    
  </form> 
-->
