<app-header></app-header>
<div class="container" style="margin: 0 auto;max-width: 50%;">

  <p style=" font-size: 15px;text-align: center;margin-top: 70px;">သဘောတူညီချက် <p>
    <ul style="margin-top: 40px;">
      <li><h4 style="margin-bottom: 20px;" >အထက်တွင် ထည့်သွင်းထားသော အချက်အလက်များကို မှန်ကန်စွာ ဖြည့်စွက်ထားပါသည်။</h4></li>
      <li><h4 style="margin-bottom: 20px;">ပေးသွင်းသည့် ငွေများကို ပြန်လည်ထုတ်ယူ၍ မရပါကြောင်း သိရှိပါသည်။</h4></li>
      <li><h4 style="margin-bottom: 20px;">လိုင်စင်ကြေးအတွက် online payment ဝန်ဆောင်ခအဖြစ် ငွေ ({{serviceCharges}}) ကျပ်ကို လူကြီးမင်း၏အကောင့်မှ ပေးသွင်းရမည်ကို သိရှိပါသည်။</h4></li>
    </ul>
    <div style="text-align: center;">
    <button style="margin-top: 80px;width: 80px;" class="btn btn-primary" (click)="submitForm()">Continue</button>
    <button style="margin-left:30px;margin-top: 80px;width: 80px;" class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div> 
</div>
 



<!-- 

<div class="container">
  <img src="assets/img/mpu.jpg" style="margin-left: 350px;" width="200" height="180">

  <form style="margin-left: 300px;" (ngSubmit)="submitForm()">
    <div class="input-group" style="margin-bottom: 30px;">
      <span class="input-group-addon">Invoice No :</span>
      <input style="width: 200px;" id="email" type="text" class="form-control" name="ino" [(ngModel)]="payment.invoiceNo">
    </div>
    
    <div class="form-group"  style="margin-left: 70px;">
          <button type="submit" class="btn btn-primary" style="width: 70px;">Save</button>
          <button style="margin-left: 20px;width: 70px;" type="button" class="btn btn-primary" (click)="cancel();">Cancel</button>
    </div>    
  </form> 
-->
